body {
    background-color: #f8fafc;
    padding: 0px;
    margin: 0px;
    font-family: Inter;
}

header {
    text-align: center;
    background-color: white;
    margin-top: 0;
    padding: 35px;
}

h1 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
    margin-left: 0;
}

a {
    color: #4E80EE;
    text-decoration: none;
}

main {
    margin-left: 25%;
    padding: 45px;
    width: 90%;
}

.separator {
    padding-bottom: 10px;
    padding-top: 10px;
}

hr {
    width: 50%;
    margin-left: 0%;
    opacity: 50%;
}

ul, ol {
    padding-inline-start: 20px;
    width: 85%;
}

li {
    width: 50%;
    padding: 5px;
}