body {
    background-color: #fcfcfc;
}

header {
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
}

main {
    margin-left: 30%;
}

hr {
    width: 50%;
    margin-left: 0%;
}

ul, ol {
    padding-inline-start: 20px;
}

li {
    width: 50%;
}